RewriteEngine On

# 因為目前網址實體就是 /jinghong_admin/Public/
RewriteBase /jinghong_admin/Public/

# 實體檔案或資料夾直接放行
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# 其餘全部丟給 index.php
RewriteRule ^ index.php [L]
